{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ],
  "disableLanguages": []
}
